.achievements-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/gifs/footer.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.achievements-children {
    padding: 10%;
    text-align: center;
    font-size: 150%;
    font-family: 'Raleway';
    color: white;
}

.achievements-text-header {
    font-family: 'Raleway';
}

.achievements-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    opacity: 70%;
    background-color: black;
}

.achievements-button {
    text-align: center;
    margin-top: 40px;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.achievements-hidden {
    position: absolute;
    visibility: hidden;
}

.achievements-slide {
    position: absolute;
    visibility: visible;
    align-items: center;
}

@media (max-width: 768px) {
    .achievements-children {
        font-size: 80%;
    }

    .achievements-text-header {
        font-size: 150%;
    }

    .achievements-text-header img{
        width: 80%;
    }
}