.capabilities-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    opacity: 70%;
    background-color: black;
}

h2 {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
}

.capabilities-main {
    width: 100dvw;
    height: 100dvh;
    background-image: url('../assets/gifs/tv.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway';
    font-size: 150%;
    color: white;
}

.capabilities-message {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.capabilities-message:hover {
    cursor: pointer;
}

.capabilities-button{
    text-align: center;
    margin-top: 40px;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.capabilities-hidden {
    position: absolute;
    visibility: hidden;
}

.capabilities-slide {
    position: absolute;
    visibility: visible;
    align-items: center;
}

@media (max-width: 768px) {
    .capabilities-main {
        font-size: 80%;

    }
    .capabilities-button {
        top: 75%;
        left: 50%;
    }
}