.welcome-main {
    position: center;
    top: 0;
    left: 0;
    font-size: 200%;
    background-image: url('../assets/gifs/keyboard.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 70%;
    background-color: black;
}

.welcome-message-markup {
    text-align: center;
    font-family: 'Raleway';
    color: wheat;
    z-index: 9999;
}

.welcome-image img {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    margin: 5vh;
    border: 2px solid black
}

.buttons {
    text-align: center
}


@media (max-width: 768px) {
    .welcome-main {
        font-size: 120%;
    }
}